* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  max-width: 1440px;
}

.hero--about--section {
  width: 100%;
  background: #f3fcf7;
  position: relative;
  top: 0;
  left: 0;
}

/* NAV CONTAINER */
.nav {
  width: 100%;
  padding: 50px 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:sticky ;
}

/* BRAND NAME */
.brand--name {
  color: #06c167;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
}

/* NAV LIST */
.nav--list {
  display: flex;
  gap: 20px;
  list-style: none;
}

/* NAV ITEMS LINKS */

.nav--item a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  text-decoration: none;
  color: #000;
}
#home {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  font-optical-sizing: auto;
  color: #06c167 !important;
}
.about--section {
  width: 100%;
  padding: 50px 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about--section-left {
  justify-content: left;
}
.about--highlight {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 75px;
}
.about--highlight--description {
  color: #1D1D1FBF;
  font-family: "Inter", sans-serif;
  margin-top: 20px;

}
.about-button {
  margin-top: 25px;
  border-radius: 5px;
  padding: 20px 45px;
  background: #06c167;
  border-style: none;
  color: #fff;
  font-size: 16px;

  align-items: center;
}
.arrow--btn {
  margin-left: 15px;
}

.brand--logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 160px;
  background: #fff;
  margin-top: 2%;
}

.services--section {

}
.services--provided {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2px;
  flex-wrap: wrap;
  padding: 50px 160px;
}
.service {
  display: flex;
  align-items: center;
  gap: 25px;
}
.service-logo {
  border-radius: 5px;
  padding: 22px;
  background: #F3FCF7;
  border-style: none;
  color: #06C167;
  justify-content: center;
  align-items: center;
  font-size: 30px;

}
.service--texts h4 {
  font-family: "Inter", sans-serif;
  font-size:18px;
  font-weight: 400;
  color: #1D1D1F;

}
.service--texts p {
  font-family: "Inter", sans-serif;
  margin-top: 10px;
  opacity: 40%;
  font-weight: 500;
  font-size: 14px;
}
.container {
  padding: 50px 160px;
  opacity: 40%;
}
.our-company-1 {
  margin-top: 30px;
  padding: 50px 160px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.our-company-1-pic {
  padding: 24px;
  background: #f3fcf7;
  border-radius: 24px;
}
.our-company-1-p {
  margin-bottom: 15%;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.our-company-1-h1 {
  margin-bottom: 25px;
  font-size: 60px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.our-company-1-check {
  display: flex;
  justify-content: start;
  gap: 20px;
font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.our-company-1-check i {
  color: #06C167;
  font-size: 16px;

}
.our-company-2 {
  margin-top: 30px;
  padding: 50px 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our-company-2-p {

  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}
.our-company-2-h1 {
  font-size: 60px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 54px;
}
.review--section {
  display: flex;
  justify-content: space-between;
}
.our-company-2-pic {
  padding-bottom: 95px;
  padding-left: 95px;
  background: #F3FAFB;
}

.our-company-2-button {
  margin-top: 25px;
  border-radius: 5px;
  padding: 20px 45px;
  background: #06c167;
  border-style: none;
  color: #fff;
  font-size: 16px;

  align-items: center;
}
.review {
 font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #06C167;
  margin-bottom: 15px;


}
.review-of {
  color: #1D1D1F;
  font-weight: 400;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  margin-bottom: 54px;

}

.presentation {

}
.presentation-p1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #06C167;

}
.presentation-p1-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #06C167;
  background: #f3fcf7;
  border-radius: 12px;
  padding: 15px 24px;
  gap: 10px;
  margin-bottom: 27px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 500;

}
#presentation-title{
  color: #1D1D1F;
  font-size: 60px;
  margin-top: 12px;
  margin-bottom: 70px;
}
.presentation {
  padding: 50px 135px;
}
.presentation-card {
  display: flex;
  justify-content: center;
  gap: 0;

}
.presentation-card img {

}
.presentation-card-info {
  border: 2px solid #06C167;
  background: #f3fcf7;
  width: 292px;
 display: grid;
 justify-content: start;
  align-items: center;
  padding-left: 37px;

}

.presentation-card-info h3 {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color: #1D1D1F;
}
.presentation-card-info p {
  font-weight: 400;
  font-size: 16px;
  color: #1D1D1F;
}
.presentation-card-info button {
  border-radius: 5px;
  padding: 10px 14px;
  background: #E6F9F0;
  border-style: none;
  color: #06C167;
  font-size: 15px;
  align-items: center;
}
.products-div {
  margin-top: 192px;
  padding: 50px 160px;
}
.products-div-start {
  margin-bottom: 63px ;
}
.products-div-start h6{
 font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #1D1D1F;
}
.products-div-start h1 {
  font-size: 60px;
  font-family: "Inter", sans-serif;
  font-weight: 500;

}
.products-cards-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-cards-layer1 {
  border: 2px solid #76767540;
  border-radius: 12px;
  padding: 24px 40px 30px 40px;
}
.products-cards-layer2 {
  display: grid;
  justify-content: space-between;
}
.products-review {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}
.products-review-stars {
  color: #06C167;
}
.products-names {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #1D1D1F;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}
.products-price {

  display: flex;
  justify-content: center;
}
.products-price-before {
  text-decoration: line-through;
  color: #767675;
  margin-right: 8px ;
  font-size: 20px;
}
.products-price-after {
  color: #06C167;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.products-buy-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products-buy-button {
  margin-top: 30px;
  padding-left:  30px ;
  padding-top: 17px;
  padding-bottom: 19px;
  border: 2px solid #06C167;
  border-radius: 12px;
  background-color: #FFFFFF;
  color: #06C167;
}
.products-buy-button i {
  padding-right: 26px;
  margin-left: 31px;
  color: #06C167;

}
.your-pic-start{
padding: 50px 160px;
}
.your-pic {
  background:url("./assets/yourpic.png") ;
  height: 459px;
  width: 100%;
  background-size: cover;

  border-radius: 16px;
}

.your-pic h2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 110px;
  align-items: center;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 60px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 64px;
}

.get-started-btn-section{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.get-started-btn-section button{
  background: #06C167;
  border: none;
  color: #FFFFFF;
  border-radius: 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 28px 34px 31px 40px ;
  margin-top: 37px;
}
.get-started-btn-section i {

}

.footer {
  width: 100%;
  padding: 50px 160px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #fff;
  font-family: "Inter", sans-serif;
  max-width: 1440px;

}



.footer-left h2 {
  color: #06C167;
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.footer-left p {
  color: #1D1D1F;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 52px;
}

.socials i {
  font-size: 16px;
  margin-right: 25px;
  cursor: pointer;
}


.footer-topics h3 {
  font-size:24px;
  margin-bottom: 40px;
  font-weight: 500;
  color: #1D1D1F;
}

.footer-topics ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-topics ul li {
  margin-bottom: 15px;
  cursor: pointer;
  color: #1D1D1F;
}

.sub-box-top {
  margin-bottom: 37px;
}
.subscribe-box {
  margin-top: 12px;
  display: flex;
  gap: 15px;
}

.subscribe-box input {
  padding: 12px;
  background: #f2f2ec;
  border: none;
  border-radius: 12px;
  flex: 1;
  outline: none;
}

.subscribe-box button {
  padding: 16px 28px;
  background: #06C167;
  border: none;
  border-radius: 12px;
  color: white;
}


.footer-bottom {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #1D1D1F;
 margin-top: 96px;
  margin-bottom: 38px;
}


